nifi-2.0.0-SNAPSHOT/work/nar/extensions/nifi-box-nar-2.0.0-SNAPSHOT.nar-unpacked/META-INF/docs/extension-manifest.xml
<extensionManifest><groupId>org.apache.nifi</groupId><artifactId>nifi-box-nar</artifactId><version>2.0.0-SNAPSHOT</version><parentNar><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.0.0-SNAPSHOT</version></parentNar><systemApiVersion>2.0.0-SNAPSHOT</systemApiVersion><buildInfo><tag>HEAD</tag><branch>main</branch><revision>f352857</revision></buildInfo><extensions><extension><name>org.apache.nifi.processors.box.FetchBoxFile</name><type>PROCESSOR</type><description>Fetches files from a Box Folder. Designed to be used in tandem with ListBoxFile.</description><tags><tag>box</tag><tag>storage</tag><tag>fetch</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.0.0-SNAPSHOT</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>box-file-id</name><displayName>File ID</displayName><description>The ID of the File to fetch</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>success</name><description>A FlowFile will be routed here for each successfully fetched File.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>failure</name><description>A FlowFile will be routed here for each File for which fetch was attempted but failed.</description><autoTerminated>false</autoTerminated></relationship></relationships><readsAttributes><readsAttribute><name>box.id</name><description>The id of the file</description></readsAttribute></readsAttributes><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.ListBoxFile</name><type>PROCESSOR</type><description>Lists files in a Box folder. Each listed file may result in one FlowFile, the metadata being written as FlowFile attributes. Or - in case the 'Record Writer' property is set - the entire result is written as records to a single FlowFile. This Processor is designed to run on Primary Node only in a cluster. If the primary node changes, the new Primary Node will pick up where the previous node left off without duplicating all of the data.</description><tags><tag>box</tag><tag>storage</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.0.0-SNAPSHOT</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>box-folder-id</name><displayName>Folder ID</displayName><description>The ID of the folder from which to pull list of files.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>ENVIRONMENT</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>recursive-search</name><displayName>Search Recursively</displayName><description>When 'true', will include list of files from sub-folders. Otherwise, will return only files that are within the folder defined by the 'Folder ID' property.</description><defaultValue>true</defaultValue><allowableValues><allowableValue><displayName>true</displayName><value>true</value><description></description></allowableValue><allowableValue><displayName>false</displayName><value>false</value><description></description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>min-age</name><displayName>Minimum File Age</displayName><description>The minimum age a file must be in order to be considered; any files younger than this will be ignored.</description><defaultValue>0 sec</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>listing-strategy</name><displayName>Listing Strategy</displayName><description>Specify how to determine new/updated entities. See each strategy descriptions for detail.</description><defaultValue>timestamps</defaultValue><allowableValues><allowableValue><displayName>Tracking Timestamps</displayName><value>timestamps</value><description>This strategy tracks the latest timestamp of listed entity to determine new/updated entities. Since it only tracks few timestamps, it can manage listing state efficiently. However, any newly added, or updated entity having timestamp older than the tracked latest timestamp can not be picked by this strategy. For example, such situation can happen in a file system if a file with old timestamp is copied or moved into the target directory without its last modified timestamp being updated. Also may miss files when multiple subdirectories are being written at the same time while listing is running.</description></allowableValue><allowableValue><displayName>Tracking Entities</displayName><value>entities</value><description>This strategy tracks information of all the listed entities within the latest 'Entity Tracking Time Window' to determine new/updated entities. This strategy can pick entities having old timestamp that can be missed with 'Tracking Timestamps'. Works even when multiple subdirectories are being written at the same time while listing is running. However additional DistributedMapCache controller service is required and more JVM heap memory is used. See the description of 'Entity Tracking Time Window' property for further details on how it works.</description></allowableValue><allowableValue><displayName>Time Window</displayName><value>time-window</value><description>This strategy uses a sliding time window. The window starts where the previous window ended and ends with the 'current time'. One cycle will list files with modification time falling within the time window. Works even when multiple subdirectories are being written at the same time while listing is running. IMPORTANT: This strategy works properly only if the time on both the system hosting NiFi and the one hosting the files are accurate.</description></allowableValue><allowableValue><displayName>No Tracking</displayName><value>none</value><description>This strategy lists an entity without any tracking. The same entity will be listed each time on executing this processor. It is recommended to change the default run schedule value. Any property that related to the persisting state will be disregarded.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>et-state-cache</name><displayName>Entity Tracking State Cache</displayName><description>Listed entities are stored in the specified cache storage so that this processor can resume listing across NiFi restart or in case of primary node change. 'Tracking Entities' strategy require tracking information of all listed entities within the last 'Tracking Time Window'. To support large number of entities, the strategy uses DistributedMapCache instead of managed state. Cache key format is 'ListedEntities::{processorId}(::{nodeId})'. If it tracks per node listed entities, then the optional '::{nodeId}' part is added to manage state separately. E.g. cluster wide cache key = 'ListedEntities::8dda2321-0164-1000-50fa-3042fe7d6a7b', per node cache key = 'ListedEntities::8dda2321-0164-1000-50fa-3042fe7d6a7b::nifi-node3' The stored cache content is Gzipped JSON string. The cache key will be deleted when target listing configuration is changed. Used by 'Tracking Entities' strategy.</description><controllerServiceDefinition><className>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.0.0-SNAPSHOT</version></controllerServiceDefinition><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>listing-strategy</propertyName><propertyDisplayName>Listing Strategy</propertyDisplayName><dependentValues><dependentValue>entities</dependentValue></dependentValues></dependency></dependencies></property><property><name>et-time-window</name><displayName>Entity Tracking Time Window</displayName><description>Specify how long this processor should track already-listed entities. 'Tracking Entities' strategy can pick any entity whose timestamp is inside the specified time window. For example, if set to '30 minutes', any entity having timestamp in recent 30 minutes will be the listing target when this processor runs. A listed entity is considered 'new/updated' and a FlowFile is emitted if one of following condition meets: 1. does not exist in the already-listed entities, 2. has newer timestamp than the cached entity, 3. has different size than the cached entity. If a cached entity's timestamp becomes older than specified time window, that entity will be removed from the cached already-listed entities. Used by 'Tracking Entities' strategy.</description><defaultValue>3 hours</defaultValue><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>ENVIRONMENT</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>listing-strategy</propertyName><propertyDisplayName>Listing Strategy</propertyDisplayName><dependentValues><dependentValue>entities</dependentValue></dependentValues></dependency></dependencies></property><property><name>et-initial-listing-target</name><displayName>Entity Tracking Initial Listing Target</displayName><description>Specify how initial listing should be handled. Used by 'Tracking Entities' strategy.</description><defaultValue>all</defaultValue><allowableValues><allowableValue><displayName>Tracking Time Window</displayName><value>window</value><description>Ignore entities having timestamp older than the specified 'Tracking Time Window' at the initial listing activity.</description></allowableValue><allowableValue><displayName>All Available</displayName><value>all</value><description>Regardless of entities timestamp, all existing entities will be listed at the initial listing activity.</description></allowableValue></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>listing-strategy</propertyName><propertyDisplayName>Listing Strategy</propertyDisplayName><dependentValues><dependentValue>entities</dependentValue></dependentValues></dependency></dependencies></property><property><name>record-writer</name><displayName>Record Writer</displayName><description>Specifies the Record Writer to use for creating the listing. If not specified, one FlowFile will be created for each entity that is listed. If the Record Writer is specified, all entities will be written to a single FlowFile instead of adding attributes to individual FlowFiles.</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordSetWriterFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.0.0-SNAPSHOT</version></controllerServiceDefinition><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>success</name><description>All FlowFiles that are received are routed to success</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute></writesAttributes><triggerSerially>true</triggerSerially><primaryNodeOnly>true</primaryNodeOnly><stateful><description>The processor stores necessary data to be able to keep track what files have been listed already. What exactly needs to be stored depends on the 'Listing Strategy'.</description><scopes><scope>CLUSTER</scope></scopes></stateful><inputRequirement>INPUT_FORBIDDEN</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see></seeAlso><defaultSchedule><strategy>TIMER_DRIVEN</strategy><period>1 min</period><concurrentTasks>1</concurrentTasks></defaultSchedule></extension><extension><name>org.apache.nifi.processors.box.PutBoxFile</name><type>PROCESSOR</type><description>Puts content to a Box folder.</description><tags><tag>box</tag><tag>storage</tag><tag>put</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.0.0-SNAPSHOT</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>box-folder-id</name><displayName>Folder ID</displayName><description>The ID of the folder where the file is uploaded. Please see Additional Details to obtain Folder ID.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>subfolder-name</name><displayName>Subfolder Name</displayName><description>The name (path) of the subfolder where files are uploaded. The subfolder name is relative to the folder specified by 'Folder ID'. Example: subFolder, subFolder1/subfolder2</description><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>create-folder</name><displayName>Create Subfolder</displayName><description>Specifies whether to check if the subfolder exists and to automatically create it if it does not. Permission to list folders is required. </description><defaultValue>false</defaultValue><allowableValues><allowableValue><displayName>true</displayName><value>true</value><description></description></allowableValue><allowableValue><displayName>false</displayName><value>false</value><description></description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>subfolder-name</propertyName><propertyDisplayName>Subfolder Name</propertyDisplayName></dependency></dependencies></property><property><name>file-name</name><displayName>Filename</displayName><description>The name of the file to upload to the specified Box folder.</description><defaultValue>${filename}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>conflict-resolution-strategy</name><displayName>Conflict Resolution Strategy</displayName><description>Indicates what should happen when a file with the same name already exists in the specified Box folder.</description><defaultValue>fail</defaultValue><allowableValues><allowableValue><displayName>fail</displayName><value>fail</value><description>Handle file conflict as failure.</description></allowableValue><allowableValue><displayName>ignore</displayName><value>ignore</value><description>Ignore conflict, do not change the original file.</description></allowableValue><allowableValue><displayName>replace</displayName><value>replace</value><description>Replace existing file in case of conflict.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>chunked-upload-threshold</name><displayName>Chunked Upload Threshold</displayName><description>The maximum size of the content which is uploaded at once. FlowFiles larger than this threshold are uploaded in chunks. Chunked upload is allowed for files larger than 20 MB. It is recommended to use chunked upload for files exceeding 50 MB.</description><defaultValue>20 MB</defaultValue><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>success</name><description>Files that have been successfully written to Box are transferred to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>failure</name><description>Files that could not be written to Box for some reason are transferred to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><readsAttributes><readsAttribute><name>filename</name><description>Uses the FlowFile's filename as the filename for the Box object.</description></readsAttribute></readsAttributes><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see></seeAlso></extension></extensions></extensionManifest>